asttokens
backcall
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lightgbm
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
typing-extensions
tzdata
wcwidth
xgboost
zipp
